.todoCheck {
  margin-right: 7px;
}

.centerDiv {
  width: 1200px;
  margin: auto;
}

.myDiv {
  margin: 0 5px 5px 5px;
}

.hrDiv {
  display: inline;
  float: left;
}

.date td {
  width: 100px;
  height: 100px;
}

.date td:hover {
  background-color: #f5f5f5;
}

.trCalender td {
  width: auto;
  height: auto;
  text-align: center;
  font-weight: bold;
}

.todoHead, .todoHeadimg{
  text-align: center;
}

.todoList{
  max-height: 10px;
}
